@import 'variables';
@import 'grid';
@import 'querys';
@import 'mixin';


header{
	div{
		background-color: $color-accent;
		height: $alto-header;
		h1{
			color: white;
		}
	}
}

nav{
		ul{
			width: 100%;
			li{
				@include accent-container;
				@include lista;
				list-style: none;
			
				&:last-child{
				@include contrast-container;
				}
			}
		}
	}


#container-assistance{
		ul{
			li{
				list-style: none;
			}
		}
}

.clear{
	clear: both;
}

#container-aside{
	@include contrast-container;
}